{% extends '../base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{ details.profile_picURL }}" alt="Admin" class="rounded-circle" width="130">
                            <div class="mt-3">
                                <h4>{{ details.first_name|title }} {{ details.last_name|title }}</h4>
                                <p class="text-secondary mb-1">{{ details.registrationNo }}</p>
                                <p class="text-muted font-size-sm">
                                    {{ details.date_joined }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3" style="height: 250px; overflow-y: scroll;">
                    <ul class="list-group list-group-flush">
                        <div class="text-center">
                            <h6 class="mt-5" style="font-family: 'Times New Roman', Times, serif">
                                Vaccination History
                            </h6>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Health Assistant</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {% for i in my_health_assistant %}
                                <a href="{% url 'visit_profile' i.ha.id %}">
                                    {{ i.ha.first_name|title }} {{ i.ha.last_name|title }}
                                </a> {% endfor %}
                                <br> Report problems
                                <a class="open-button" onclick="openForm()">here</a>
                                <div class="form-popup" id="myForm">

                                    {% if report_to is not None %}
                                    <form method="POST" action="{% url 'chat' report_to.ha.id %}" id="report-form" class="form-container">
                                        {% csrf_token %}
                                        <h1>Message</h1>

                                        <label for="msg"><b>Body</b></label>
                                        <input type="text" placeholder="report here. . ." name="msg" required>
                                        <button type="submit" class="btn">Send</button>
                                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <hr> {% for i in user %}
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ i.email }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ i.username }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Division</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ i.divisions }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Zilla</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ i.zilla }}
                            </div>

                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Word No</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ i.word_no }}
                            </div>
                        </div>
                        <hr> {% endfor %}
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info " href="{% url 'edit_profile_baby' id %}">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                                <small>Web Design</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>Website Markup</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>One Page</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>Mobile Template</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>Backend API</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                                <small>Web Design</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>Website Markup</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>One Page</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>Mobile Template</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <small>Backend API</small>
                                <div class="progress mb-3" style="height: 5px">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>

<script>
    $(function() {
        $("#report-form").submit(function(event) {
            event.preventDefault();
            var Form = $(this);
            var posting = $.post(Form.attr('action'), Form.serialize());
            posting.done(function(data) {
                Swal.fire("Message Sent", "Have a nice day !", "success");
            });
            posting.fail(function(data) {
                Swal.fire("Ups", "Something went wrong!", "failure");
            });
            var clear = document.getElementById("report-form").reset();
        });
    });
</script>

{% endblock %}