{% extends '../base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
<style>
    #card-table {
        background-color: #f4efe6;
    }
    
    #card-info {
        background-color: #EBEDF3;
    }
    
    .verticalLine {
        border-left: thick solid #ff0000;
    }
    
    input {
        height: 50px!important;
    }
</style>

<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card mb-12">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{ details.profile_picURL }}" alt="Admin" class="rounded-circle" width="130">
                            <div class="mt-3">
                                <h4>{{ details.first_name|title }} {{ details.last_name|title }}</h4>
                                <p class="text-secondary mb-1">{{ details.registrationNo }}</p>
                                <p class="text-muted font-size-sm">
                                    {{ details.date_joined }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3" style="height: 540px; overflow-y: scroll; background-color: #EBEDF3">
                    <ul class="list-group list-group-flush">
                        <div class="text-center">
                            <h6 class="mt-5" style="font-family: 'Times New Roman', Times, serif">
                                Vaccination History
                            </h6>
                        </div>
                    </ul>
                    <div class="card-body" id="showdetail">
                        <div class="col-md-12">
                            <label for="">বিসিজি</label><br>
                            <u>{{ data2.date_bcg1 }}</u> <br>
                            <u>{{ data2.date_bcg2 }}</u>
                            <h5>Total: {{ bcg }}
                            </h5>
                            <hr>
                        </div>

                        <div class="col-md-12">
                            <label for="">পেন্টা (ডিপিটি, হেপ-বি, হিব)</label><br>
                            <u>{{ data2.date_penta1 }}</u> <br>
                            <u>{{ data2.date_penta2 }}</u><br>
                            <u>{{ data2.date_penta3 }}</u>
                            <h5>Total: {{ penta }}
                            </h5>
                            <hr>
                        </div>


                        <div class="col-md-12">
                            <label for="">ওপিভি</label><br>
                            <u>{{ data2.date_opv1 }}</u> <br>
                            <u>{{ data2.date_opv2 }}</u> <br>
                            <u>{{ data2.date_opv3 }}</u>
                            <h5>Total: {{ opv }}
                            </h5>
                            <hr>
                        </div>


                        <div class="col-md-12">
                            <label for="">পিসিভি</label><br>
                            <u>{{ data2.date_pcv1 }}</u> <br>
                            <u>{{ data2.date_pcv2 }}</u> <br>
                            <u>{{ data2.date_pcv3 }}</u>
                            <h5>Total: {{ pcv }}
                            </h5>
                            <hr>
                        </div>



                        <div class="col-md-12">
                            <label for="">আইপিভি</label><br>
                            <u>{{ data2.date_ipv1 }}</u> <br>
                            <u>{{ data2.date_ipv2 }}</u>
                            <h5>Total: {{ ipv }}
                            </h5>
                            <hr>
                        </div>


                        <div class="col-md-12">
                            <label for="">বিসিএমআরজি</label><br>
                            <u>{{ data2.date_mr1 }}</u> <br>
                            <u>{{ data2.date_mr2 }}</u>
                            <h5>Total: {{ mr }}
                            </h5>
                            <hr>
                        </div>




                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body" id="card-info">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Health Assistant</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">

                                {% for i in my_health_assistant %}
                                <a href="{% url 'visit_profile' i.ha.id %}">
                                    {{ i.ha.first_name|title }} {{ i.ha.last_name|title }}
                                </a> {% endfor %} {% if request.user.is_baby and request.user.id == id %}
                                <br> Report problems
                                <a class="open-button" onclick="openForm()">here</a> {% endif %}

                                <div class="form-popup" id="myForm">

                                    {% if report_to is not None %}
                                    <form method="POST" action="{% url 'chat' report_to.ha.id %}" id="report-form" class="form-container">
                                        {% csrf_token %}
                                        <h1>Message</h1>

                                        <label for="msg"><b>Body</b></label>
                                        <input type="text" placeholder="report here. . ." name="msg" required>
                                        <button type="submit" class="btn">Send</button>
                                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                                    </form>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        <hr> {% for i in user %}
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ i.email }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ i.username }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Division</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ i.divisions }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Zilla</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ i.zilla }}
                            </div>

                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Word No</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ i.word_no }}
                            </div>
                        </div>
                        <hr> {% endfor %}
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info " href="{% url 'edit_profile_baby' id %}">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row gutters-sm">
                    <div class="col-sm-12 mb-3">
                        <div class="card h-100">
                            <div class="card-body" id="card-table">
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <div class="table-responsive">
                                        <table class="table table-hover" id="table">
                                            <thead>
                                                <th scope="col">
                                                    ডােজ অনুযায়ী শিশুকে টিকাকেন্দ্রে আনতে হবে (রেজিস্ট্রেশনের সময় শিশুর জন্ম তারিখ অনুযায়ী ১নং, ৪নং ও ৫নং তারিখ ঘরে “পেন্টাভ্যালেন্ট-১/পিসিভি-১, এমআর ১ম ও ২য় ডােজ টিকা পাওয়ার তারিখ টিকার ক্যালেন্ডার থেকে লিখে দিবেন)
                                                </th>
                                                <th scope="col" class="text-center">টিকা পাওয়ার তারিখ</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        ১। ১ম বার ও বিসিজি, পেন্টা-১, ওপিভি-১, পিসিভি-১ এবং আইপিভি-১ টিকা পাওয়ার তারিখ (টিকার ক্যালেন্ডার” থেকে)।
                                                        <input type="text" name="dose1" id="dose1" value="
                                                        ১। ১ম বার ও বিসিজি, পেন্টা-১, ওপিভি-১, পিসিভি-১ এবং আইপিভি-১ টিকা পাওয়ার তারিখ (টিকার ক্যালেন্ডার” থেকে)।
                                                        " style="display: none">
                                                    </td>
                                                    <td>
                                                        {{ form.date1 }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        ২। ২য় বার ও পেন্টা-২, ওপিভি-২ এবং পিসিভি-২ টিকা পাওয়ার তারিখ (সেশন প্ল্যান থেকে)
                                                        <input type="text" name="dose2" id="dose2" value="
                                                        ২। ২য় বার ও পেন্টা-২, ওপিভি-২ এবং পিসিভি-২ টিকা পাওয়ার তারিখ (সেশন প্ল্যান থেকে)।
                                                        " style="display: none;">
                                                    </td>
                                                    <td>
                                                        {{ form.date2 }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        ৩। ৩য় বার ও পেন্টা-৩, ওপিভি-৩, পিসিভি-৩ এবং আইপিভি-২ টিকা পাওয়ার তারিখ (সেশন প্ল্যান থেকে)।
                                                        <input type="text" name="dose3" id="dose3" value="
                                                        ৩। ৩য় বার ও পেন্টা-৩, ওপিভি-৩, পিসিভি-৩ এবং আইপিভি-২ টিকা পাওয়ার তারিখ (সেশন প্ল্যান থেকে)।
                                                        " style="display: none;">
                                                    </td>
                                                    <td>
                                                        {{ form.date3 }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        ৪। ৪র্থ বার ঃ এমআর ১ম ডােজ টিকা পাওয়ার তারিখ। (“টিকার ক্যালেন্ডার” থেকে)।
                                                        <input type="text" name="dose4" id="dose4" value="
                                                        ৪। ৪র্থ বার ঃ এমআর ১ম ডােজ টিকা পাওয়ার তারিখ। (“টিকার ক্যালেন্ডার” থেকে)।
                                                        " style="display: none;">
                                                    </td>
                                                    <td>
                                                        {{ form.date4 }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        ৫। ৫ম বার ও এমআর ২য় ডােজ টিকা পাওয়ার। তারিখ (“টিকার ক্যালেন্ডার” থেকে)
                                                        <input type="text" name="dose5" id="dose5" value="
                                                        ৫। ৫ম বার ও এমআর ২য় ডােজ টিকা পাওয়ার। তারিখ (“টিকার ক্যালেন্ডার” থেকে)
                                                        " style="display: none;">
                                                    </td>
                                                    <td>
                                                        {{ form.date5 }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        {% if request.user.is_ha or request.user.is_superuser %}
                                        <input type="checkbox" name="checked1" required id="checked1">
                                        <button type="submit" class="btn btn-success">Save</button> {% endif %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>



        <div class="row gutters-sm" id="pdfcard">
            <div class="col-sm-12 mb-3">
                <div class="card h-100">
                    <div class="card-body" id="card-table">
                        <div class="text-center" style="font-size: 25px;">
                            টিকা প্রদানের তারিখ ও কর্মীর স্বাক্ষর (খালি ঘরে)
                        </div>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="table-responsive">
                                <table class="table display" id="table">
                                    <thead>
                                        <th scope="col" style="width: 250px;">টিকার নাম</th>
                                        <th class="text-left" scope="col">১ম বার </th>
                                        <th class="text-left" scope="col">২য় বার</th>
                                        <th class="text-left" scope="col">৩য় বার</th>
                                        <th class="text-left" scope="col">৪র্থ বার</th>
                                        <th class="text-left" scope="col">৫ম বার</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>বিসিজি</td>
                                            <td> <input class="form-control w-50" type="text" name="date_bcg1" id="date_bcg1" placeholder="........" value="{{ data2.date_bcg1 }}">


                                                <td> <input style="pointer-events: none; background-color: #cad3ec;" type="text" readonly class="form-control w-50" name="" id=""> </td>

                                                <td><input class="form-control w-50" type="text" name="date_bcg2" id="date_bcg2" value="{{ data2.date_bcg2 }}" placeholder="........"></td>

                                                <td><input style="pointer-events: none; background-color: #cbd5f3;" type="text" readonly class="form-control w-50" name="" id=""></td>
                                                <td><input style="pointer-events: none; background-color: #bdc8e9;" type="text" readonly class="form-control w-50" name="" id=""></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                পেন্টা (ডিপিটি, হেপ-বি, হিব)
                                            </td>
                                            <td> <input class="form-control w-50" type="text" name="date_penta1" value="{{ data2.date_penta1 }}" id="date_penta1" placeholder="........"></td>

                                            <td> <input class="form-control w-50" type="text" name="date_penta2" value="{{ data2.date_penta2 }}" id="date_penta2" placeholder="........"></td>

                                            <td> <input class="form-control w-50" type="text" name="date_penta3" value="{{ data2.date_penta3 }}" id="date_penta3" placeholder="........"></td>

                                            <td><input style="pointer-events: none; background-color: #cbd5f3;" type="text" readonly class="form-control w-50" name="" id=""></td>
                                            <td><input style="pointer-events: none; background-color: #bdc8e9;" type="text" readonly class="form-control w-50" name="" id=""></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                ওপিভি
                                            </td>
                                            <td> <input class="form-control w-50" type="text" name="date_opv1" id="date_opv1" value="{{ data2.date_opv1 }}" placeholder="........"></td>

                                            <td> <input class="form-control w-50" type="text" name="date_opv2" id="date_opv2" value="{{ data2.date_opv2 }}" placeholder="........"></td>

                                            <td> <input class="form-control w-50" type="text" name="date_opv3" id="date_opv3" value="{{ data2.date_opv3 }}" placeholder="........"></td>

                                            <td><input style="pointer-events: none; background-color: #cbd5f3;" type="text" readonly class="form-control w-50" name="" id=""></td>
                                            <td><input style="pointer-events: none; background-color: #bdc8e9;" type="text" readonly class="form-control w-50" name="" id=""></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                পিসিভি
                                            </td>
                                            <td> <input class="form-control w-50" type="text" name="date_pcv1" id="date_pcv1" value="{{ data2.date_pcv1 }}" placeholder="........"></td>

                                            <td> <input class="form-control w-50" type="text" name="date_pcv2" id="date_pcv2" value="{{ data2.date_pcv2 }}" placeholder="........"></td>

                                            <td> <input class="form-control w-50" type="text" name="date_pcv3" id="date_pcv3" value="{{ data2.date_pcv3 }}" placeholder="........"></td>

                                            <td><input style="pointer-events: none; background-color: #cbd5f3;" type="text" readonly class="form-control w-50" name="" id=""></td>
                                            <td><input style="pointer-events: none; background-color: #bdc8e9;" type="text" readonly class="form-control w-50" name="" id=""></td>
                                        </tr>

                                        <tr>
                                            <td>আইপিভি</td>
                                            <td> <input class="form-control w-50" type="text" name="date_ipv1" id="date_ipv1" value="{{ data2.date_ipv1 }}" placeholder="........"></td>

                                            <td> <input style="pointer-events: none; background-color: #cad3ec;" type="text" readonly class="form-control w-50" name="" id=""> </td>

                                            <td><input class="form-control w-50" type="text" name="date_ipv2" id="date_ipv2" value="{{ data2.date_ipv2 }}" placeholder="........"></td>

                                            <td><input style="pointer-events: none; background-color: #cbd5f3;" type="text" readonly class="form-control w-50" name="" id=""></td>
                                            <td><input style="pointer-events: none; background-color: #bdc8e9;" type="text" readonly class="form-control w-50" name="" id=""></td>
                                        </tr>
                                        <td>এমআর (হাম ও রুবেলা)</td>
                                        <td><input style="pointer-events: none; background-color: #cbd5f3;" type="text" readonly class="form-control w-50" name="" id=""></td>

                                        <td><input style="pointer-events: none; background-color: #bdc8e9;" type="text" readonly class="form-control w-50" name="" id=""></td>

                                        <td><input style="pointer-events: none; background-color: #bdc8e9;" type="text" readonly class="form-control w-50" name="" id=""></td>

                                        <td> <input class="form-control w-50" type="text" name="date_mr1" id="date_mr1" value="{{ data2.date_mr1 }}" placeholder="........"></td>
                                        <td> <input class="form-control w-50" type="text" name="date_mr2" id="date_mr2" value="{{ data2.date_mr2 }}" placeholder="........"></td>
                                        <tr>

                                        </tr>
                                    </tbody>
                                </table>
                                {% if request.user.is_ha or request.user.is_superuser %}
                                <input type="checkbox" name="checked" required id="checked">
                                <button type="submit" class="btn btn-success">Save</button> {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>

<script>
    $(function() {
        $("#report-form").submit(function(event) {
            event.preventDefault();
            var Form = $(this);
            var posting = $.post(Form.attr('action'), Form.serialize());
            posting.done(function(data) {
                Swal.fire("Message Sent", "Have a nice day !", "success");
            });
            posting.fail(function(data) {
                Swal.fire("Ups", "Something went wrong!", "failure");
            });
            var clear = document.getElementById("report-form").reset();
        });
    });
</script>

<script>
    $('#showdetail .specific-class').length
</script>
{% endblock %}