{% extends '../base.html' %} {% load static %} {% block content %}
<style>
    #alert {
        padding: 1rem;
        color: #721c24 !important;
        background-color: #f8d7da !important;
        border-color: #f5c6cb !important;
        width: 300px;
        text-align: center;
        align-self: center;
        margin-top: 2rem;
        display: none;
        text-align: center;
        margin-bottom: 0;
    }
    
    #msg {
        margin: auto;
        color: red;
        font-family: sans-serif;
    }
    
    #form-container {
        margin: auto;
        top: 5rem;
    }
    
    #label {
        color: black;
    }
    
    #star {
        color: red;
        font-size: 20px;
    }
    
    #input {
        margin-bottom: 3px
    }
    
    #btn:hover {
        background-color: #1BC5BD;
        border-color: #1BC5BD;
        color: white;
    }
</style>


<div id="alert">
    <p id="msg">This section is for demo purpose</p>
</div>


<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 shadow-sm p-3 mb-5 bg-body rounded" id="form-container">
                {{ form.errors }}
                <form method="post" class="form" action="{% url 'change_pass' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label" for="old_password" id="label"> Old Password </label><span id="star" class="required">*</span><br>
                        <input type="password" autocomplete="off" required name="old_password" class="form-control" id="input1" />

                        <label class="control-label" for="new_password1" id="label">New Password </label><span id="star" class="required">*</span><br>
                        <input type="password" name="new_password1" required autocomplete="off" class="form-control" id="input2" /><br>

                        <label class="control-label" for="new_password2" id="label">Confirm New Password </label><span id="star" class="required">*</span><br>
                        <input type="password" name="new_password2" required autocomplete="off" class="form-control" id="input2" /><br>
                        <button type="submit" class="form-control btn btn-info" id="btn">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}